# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Airflow local
airflow/logs/
airflow/.env
airflow/config/airflow.cfg
airflow/config/simple_auth_manager_passwords.json.generated
airflow/data/raw/
airflow/data/processed/
airflow/data/warehouse/
airflow/pgdata/
airflow/*.db
airflow/.pytest_cache/
airflow/checkpoints/
airflow/.ivy2/

# Docker
*.log
*.tmp

# macOS
.DS_Store
